*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    margin: 0px;    
    display: flex;        
    /* min-height: 80vh; */
}

.contenedor{
    border: 3px solid black;
    background: #eee;    
    flex: 1 1 auto;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;        
}

    .campo{
        border: 3px solid black;
        background: rgb(54, 238, 110);        
        position: relative;
        padding: 0px;
        width: 600px;
        height: 600px;
    }

    .contenedor .campo img{
        position: absolute;                
        width: 100px;
        margin: 0px;
        padding: 0px;
        animation: vertical-movement 0.7s ease-in 0s infinite alternate, horizontal-movement 2.03s linear 0s infinite alternate;        
        top: 25px;
        left: 0px;                   
    }

/* 
Scale para deformación al golpear.
Si quisiera que el movimiento de la pelota no afectara márgenes, modificar posicionamiento con transform: translate(); 
*/
@keyframes vertical-movement {
    to{top: 495px;}
    100%{
        transform: scale(0.8,1.1);
    }       
}

@keyframes horizontal-movement {
    to{left: 495px;}

}